#webcodecam-canvas, #scanned-img {
    background-color: #2d2d2d;
}

#camera-select {
    width: auto;
}


.well {
    position: relative;
    display: inline-block;
}


pre {
    border: 0;
    border-radius: 0;
    background-color: #333;
    margin: 0;
    line-height: 125%;
    color: whitesmoke;
}

.scanner-laser {
    position: absolute;
    margin: 10px;
    height: 20px;
    width: 20px;
    opacity: 0.5;
}

.laser-leftTop {
    top: 0;
    left: 0;
    border-top: solid red 5px;
    border-left: solid red 5px;
}

.laser-leftBottom {
    bottom: 0;
    left: 0;
    border-bottom: solid red 5px;
    border-left: solid red 5px;
}

.laser-rightTop {
    top: 0;
    right: 0;
    border-top: solid red 5px;
    border-right: solid red 5px;
}

.laser-rightBottom {
    bottom: 0;
    right: 0;
    border-bottom: solid red 5px;
    border-right: solid red 5px;
}

#webcodecam-canvas {
    background-color: #272822;
    height: 90px;
    width: 113px;
}
#scanned-QR{

}